In [2]:
import numpy as np
import pandas as pd

In [3]:
electricity = pd.read_csv("E:/P-Python/electricity.csv")

In [4]:
electricity.head(10)#查看前10行数据

         Date  Elec  Line loss
0  2011/11/11  4640   0.103942
1  2011/11/14  4450   0.122144
2  2011/11/15  4300   0.127975
3  2011/11/16  4290   0.128812
4  2011/11/17  4010   0.130313
5  2011/11/18  4560   0.137545
6  2011/11/21  3720   0.142920
7  2011/11/22  3740   0.143239
8  2011/11/23  3850   0.170954
9  2011/11/24  4150   0.173490

In [6]:
down = list(electricity["Elec"])

In [7]:
length = len(down)

1、求电量下降趋势第一步计算每一天的斜率，考虑前后五天的斜率

In [8]:
k = []

In [9]:
for i in range(length):
    if i <= 4:
        l = range(0,(i+6))                          #i-5不满足5天，求斜率天数取值为l
        s = np.cov(down[0:(i+6)],l)[1,0]/np.var(l)  #协方差的输入为两个一维数组，返回值为协方差矩阵；分母为样本方差
    if 4 < i <= (length-6):#当天及后五天合计六天
        l = range((i-5),(i+6))                      #i-5及i+6均满足5天求斜率的天数取值为l
        s = np.cov(down[(i-5):(i+6)],l)[1,0]/np.var(l)  
    if i > (length-6):
        l = range((i-5),length)                      #i+5不满足5天，求斜率天数取值为l
        s = np.cov(down[(i-5):length],l)[1,0]/np.var(l)
    k.append(s)

In [10]:
k

[-59.314285714285717,
 -117.91666666666666,
 -128.57142857142858,
 -115.875,
 -84.646464646464636,
 -10.9,
 32.299999999999997,
 17.699999999999999,
 -3.0,
 -20.600000000000001,
 -66.900000000000006,
 -56.200000000000003,
 -113.7,
 -163.70000000000002,
 -181.0,
 -221.90000000000001,
 -199.09999999999997,
 -143.09999999999999,
 -121.49999999999997,
 -86.599999999999994,
 -61.299999999999997,
 -115.8,
 -108.7,
 -92.900000000000006,
 -77.700000000000003,
 -20.300000000000001,
 -41.600000000000001,
 -84.300000000000026,
 -70.400000000000006,
 -53.600000000000001,
 -67.299999999999997,
 -77.099999999999994,
 -148.5,
 -161.59999999999999,
 -146.19999999999999,
 -131.5,
 -78.799999999999997,
 -63.499999999999986,
 -55.488215488215488,
 -10.125,
 68.027210884353735,
 65.833333333333329,
 42.857142857142861]

2、统计11天内当天比前一天递减的天数,所以是从第二天开始，第一天是没办法递减的

In [9]:
des = []
for i in range(1,length): 
    if k[i] < k[i-1]:
        des.append(1)       
    else:
        des.append(0)
len(des)

42

3、将递减的天数进行求和

In [10]:
total = []
for i in range(length):
    if i < 4:
        m = sum(des[0:(i+6)])
    if 4 < i < (length-6):
        m = sum(des[(i-4):(i+6)]) #统计求和不计算第一天的数值，从第二天开始
    if i > (length-6):
        m = sum(des[(i-4):length])#统计求和不计算第一天的数值，从第二天开始
    total.append(m)

In [11]:
len(total)

43

In [12]:
electricity["down"] = total

In [13]:
electricity["down"].value_counts()

3    9
5    8
4    8
2    8
6    5
8    2
7    2
1    1
Name: down, dtype: int64

In [5]:
electricity.head()

         Date  Elec  Line loss
0  2011/11/11  4640   0.103942
1  2011/11/14  4450   0.122144
2  2011/11/15  4300   0.127975
3  2011/11/16  4290   0.128812
4  2011/11/17  4010   0.130313

In [9]:
electricity["Date"].iloc[2]

'2011/11/15'