In [1]:
import numpy as np
import pandas as pd

In [2]:
line_loss = pd.read_csv("E:/P-Python/line_loss.csv")

In [3]:
line_loss.head()

   Line ID       Date  Output   Input
0  A3E0102  2010/11/1  5566.8  3931.8
1  A3E0102  2010/11/2  5860.8  4157.9
2  A3E0102  2010/11/3  5314.8  3458.7
3  A3E0102  2010/11/4  5259.6  3426.1
4  A3E0102  2010/11/5  5520.0  3585.3

In [4]:
#计算线损指标
#统计当天与前后五天线损率的平均值v1/v2
#判断其增长率大于1%的天数

In [5]:
line_loss_rate = (line_loss["Output"]-line_loss["Input"])/line_loss["Output"]

In [6]:
#line_loss_rate2 = (line_loss.loc[:,"Output"]-line_loss.loc[:,"Input"])/line_loss.loc[:,"Output"]

In [7]:
#line_loss_rate == line_loss_rate2  #判断两种取值方式结果是否一致

In [8]:
line_loss["llrate"] = line_loss_rate

In [9]:
line_loss.head()

   Line ID       Date  Output   Input    llrate
0  A3E0102  2010/11/1  5566.8  3931.8  0.293706
1  A3E0102  2010/11/2  5860.8  4157.9  0.290558
2  A3E0102  2010/11/3  5314.8  3458.7  0.349232
3  A3E0102  2010/11/4  5259.6  3426.1  0.348601
4  A3E0102  2010/11/5  5520.0  3585.3  0.350489

In [10]:
llrate = list(line_loss["llrate"]) #转化成列表

In [11]:
length = len(llrate)

In [12]:
vf =[]#i 与 i-5
vb =[]#i 与 i+5
E = []
for i in range(length):
    if i <= 4 :
        vf.append(np.mean(llrate[0:(i+1)]))  #i-5不足五天的情况线损率的平均值
        vb.append(np.mean(llrate[i:(i+6)]))
    if 4 < i <= (length-6):
        vf.append(np.mean(llrate[(i-5):(i+1)]))  #i-5和i+5均满足五天的情况线损率的平均值
        vb.append(np.mean(llrate[i:(i+6)]))
    else:
        vf.append(np.mean(llrate[(i-5):(i+1)]))
        vb.append(np.mean(llrate[i:length]))    
    if (vb[i]-vf[i])/vb[i] > 0.01:
        E.append(1)
    else:
        E.append(0)

D:\anaconda\lib\site-packages\numpy\core\fromnumeric.py:2889: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
D:\anaconda\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [13]:
line_loss['alarm_loss'] = E

In [14]:
line_loss.head()

   Line ID       Date  Output   Input    llrate  alarm_loss
0  A3E0102  2010/11/1  5566.8  3931.8  0.293706           1
1  A3E0102  2010/11/2  5860.8  4157.9  0.290558           0
2  A3E0102  2010/11/3  5314.8  3458.7  0.349232           1
3  A3E0102  2010/11/4  5259.6  3426.1  0.348601           0
4  A3E0102  2010/11/5  5520.0  3585.3  0.350489           1